.content-cards{
    display: inline-block;
}
.card-character{
    color: black;
    padding: 5px;
    width: 70px;
    height: 90px;
    background-color: #fafafa;
    border: 1px solid black;
    margin: 5px;
    border-radius: 3px;
}